@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: "Lato", fantasy;
    box-sizing: border-box;
    color: white;
}

html {
    background-color: red;
}

body {
    margin: 0;
}

#HomeMainBody {
    background-color: red;
}

/*header pagina*/
header {
    margin: 0 0 0 0;
    background-color: #ED1D24;
    width: 100%;
}

nav {
    background-color: #ED1D24;
    display: flex;
    margin: 0 auto;
    padding-bottom: 10px;
    justify-content: center;
}

nav a {
    background-color: #ED1D24;
    padding: 0 5px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    text-decoration: none;
    color: white;
}

#headerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

/*grid*/
.container {
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 10px 20px;
}

.column {
    padding-left: 15px;
    /*text-align: center;*/
    margin-right: 15px;
    max-width: 100%;
}

.container img {
    margin-top: 8px;
    vertical-align: center;
    width: 100%;
}

/*video trailer*/
video{
    padding-bottom: 5px;
    padding-right: 5px;
}

/*titel tekst*/

h1 {
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
}

.column p {
    font-size: 30px;
}

/*responsive*/
@media (max-width: 600px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    div.container {
        display: grid;
        grid-template-columns: auto;
    }

    .column p {
        font-size: 15px;
    }
}

@media (min-width: 601px){
    #characters{
        grid-row: 1 / span 2;
        grid-column-start: 2;
    }

    #biography{
        grid-row: 2 / span 2;
        grid-column-start: 1;
    }

    .column p {
        font-size: 14px;
    }
}

@media (min-width: 700px){
    .column p {
        font-size: 14px;
    }
}

@media (min-width: 1150px) {

    .column p {
        font-size: 37px;
    }
    nav {
        font-size: 28px;
        text-align: center;
    }

    div.container {
        font-size: 24px;
        display: grid;
        grid-template-columns: auto auto;
    }
}