@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family: "Lato", fantasy;
    box-sizing: border-box;
    color: white;
}

body {
    margin: 0;
}

#HomeMainBody {
    background-color: red;
}

/*header pagina*/
header{
    margin: 0 0 0 0;
    background-color: #ED1D24;
    width: 100%;
}

nav{
    background-color: #ED1D24;
    display: flex;
    margin: 0 auto;
    padding-bottom: 10px;
    justify-content: center;
}

nav a{
    background-color: #ED1D24;
    padding: 0 5px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    text-decoration: none;
    color: white;
}

#headerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*grid*/
.container {
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 10px 10px ;
}

.column {
    margin-right: 15px;
    max-width: 100%;
}

.container img {
    margin-top: 8px;
    vertical-align: middle;
    width:100% ;
}


/*titel tekst*/
h1{
    /*margin: 0;*/
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

a{
    text-decoration: none;

}

/*responsive*/
@media(max-width: 600px){
    nav.inlogButton{
        padding-bottom: 0;
    }

    nav {
        flex-direction: column;
        text-align: center;
    }

    div.container{
        display:grid;
        grid-template-columns: auto;
        padding-left: 15px;
    }
}

@media(min-width: 1150px){
    nav.inlogButton{
        font-size: 33px;
    }

    nav {
        font-size: 33px;
        text-align: center;
    }

    div.container{
        display:grid;
        grid-template-columns: auto auto;
    }
}