*{
    background-color: #ED1D24;
}

#headerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*flex for images homepage*/
.container {
    flex: 50%;
    padding: 0 20px;
}

.container img {
    margin-right: 10px;
    margin-top: 8px;
    vertical-align: middle;
    width: 300px;
    height: 250px;
}

.text{
    max-width: 200px;
    margin-right: 0px;
}